#Structures

Q1. What are data structures, and why are they important?
  - Data structures are organized ways to store and manage data efficiently, helping with fast access, modification, and processing in programs.

Q2. Difference between mutable and immutable data types (with examples):

  - Mutable: Can be changed after creation (e.g., lists, dictionaries).

  - Immutable: Cannot be changed after creation (e.g., strings, tuples).
  - Example: my_list[0] = 10 works, but my_tuple[0] = 10 gives an error.

   Main differences between lists and tuples in Python:
  - Lists are mutable and slower in access, while tuples are immutable and faster.  - Lists are used when data may change; tuples when data is constant.

Q3. How dictionaries store data:
  - Dictionaries store data as key-value pairs using a hash table, allowing fast  lookup by keys.

Q4. Why use a set instead of a list in Python:
  - Sets store unique items and are faster for checking membership. Use them to eliminate duplicates and for fast searches.

Q5. What is a string in Python, and how is it different from a list:
   - A string is an immutable sequence of characters. Unlike lists, strings can't be modified in place and are specifically meant for text.

Q6. How do tuples ensure data integrity in Python:
   - Tuples are immutable, which means once created, the data can‚Äôt change‚Äîideal for fixed collections that shouldn't be altered.

Q7. What is a hash table, and how does it relate to dictionaries in Python:
  - A hash table maps keys to indices via a hash function. Python dictionaries use this mechanism for efficient key-based access.

Q8. Can lists contain different data types in Python?
  - Yes, Python lists can store elements of different types, like [1, "hello", 3.5].

Q9. Why are strings immutable in Python:
  - Immutability improves performance and security, allowing strings to be shared safely and hashed for use as dictionary keys.

Q10. Advantages of dictionaries over lists for certain tasks:
   - Dictionaries offer faster data retrieval using keys and are better for storing labeled data (e.g., name-age pairs).

Q11. Describe a Scenario where a tuple is preferable over a list.
  - When returning multiple fixed values from a function or using a key in a dictionary, use a tuple to prevent accidental changes.

Q12. How sets handle duplicate values in Python.
  - Sets automatically discard duplicate values and only store unique elements.

Q13. How the ‚Äúin‚Äù keyword works differently for lists and dictionaries.

  - For lists: Checks if a value exists.

  - For dictionaries: Checks if a key exists (not the value).

Q14. Can you modify the elements of a tuple? Why or why not?
  - No, because tuples are immutable. Once defined, their contents can‚Äôt be altered.

Q15. What is a nested dictionary, and give an example.
  - A dictionary inside another dictionary.
Example: users = {"alice": {"age": 25, "email": "a@example.com"}}.

Q16. Describe Time complexity of accessing elements in a dictionary.
   - In Python, accessing elements in a dictionary using a key has an average-case time complexity of O(1), which means it takes constant time, regardless of the size of the dictionary.

Q17. In what situations are lists preferred over dictionaries
  - When maintaining order, allowing duplicates, or when there are no key-value pairs involved.

Q18. Why dictionaries are considered unordered, and how that affects retrieval.
  - Dictionaries were considered unordered because,
   before Python 3.7, they did not preserve the order in which items were added. This meant that when you looped through a dictionary, the items could appear in any order.

  - How it affects retrieval:
You couldn‚Äôt rely on the order of elements, so dictionaries were used mainly for quick lookups by key, not for ordered data processing.

  - Python 3.7 onward**, dictionaries **do preserve insertion order**, but they're still mainly used for key-based access, not for ordered storage like lists.


Q19. Difference between a list and a dictionary in data retrieval.

  - Lists: Use numeric indices (e.g., my_list[2]).

  - Dictionaries: Use keys (e.g., my_dict["name"]), which is faster for large datasets.

  In terms of data retrieval :

---

| Feature                | **List**                                      | **Dictionary**                                             |
| ---------------------- | --------------------------------------------- | ---------------------------------------------------------- |
| **Access method**      | By **index** (e.g., `my_list[0]`)             | By **key** (e.g., `my_dict["name"]`)                       |
| **Key type**           | Only integers (index starting from 0)         | Can be any immutable type (e.g., strings, numbers, tuples) |
| **Lookup speed**       | Slower for search (O(n) if value is unknown)  | Fast lookup by key (average O(1))                          |
| **Use case**           | Ordered data, sequences                       | Labeled/associated data                                    |
| **Order preservation** | Maintains order of elements                   | Maintains insertion order (since Python 3.7)               |
| **Duplicates**         | Allows duplicates                             | Keys must be unique                                        |
| **Best for**           | Iterating in order, storing items by position | Storing items with named labels or identifiers             |
| **Memory usage**       | Less than dictionaries                        | More, due to hashing and key-value mapping                 |
| **Modification**       | Modify by index                               | Modify by key                                              |
| **Syntax simplicity**  | Simpler for small sequences                   | More structured, good for complex data                     |

---

### üîë Example:

```python
# List (ordered sequence)
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Output: banana

# Dictionary (key-value mapping)
person = {"name": "Alice", "age": 30}
print(person["name"])  # Output: Alice

#Practice Questions

In [ ]:
# Q1. Write a code to create a string with your name and print it.
name = "Jhon Smith"
print(name)

Jhon Smith

In [ ]:
# Q2. Write a code to find the length of the string "Hello World"
name = "Hello World"
print(len(name))

11

In [ ]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
b = a[:3:]
print(b)

Pyt

In [ ]:
# Q4. Write a code to convert the string "hello" to uppercase.
a = "hello"
b = a.upper()
print(b)

HELLO

In [ ]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
b= a.replace("apple", "orange")
print(b)

I like orange

In [2]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [3]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [4]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [5]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Indexing starts from 0

b

In [6]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [7]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [8]:
# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [9]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [11]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [12]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [13]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [14]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

In [15]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [16]:
# Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [17]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [18]:
# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [19]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [20]:
# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [21]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [23]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [24]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[27, 47, 52, 69, 95]

In [25]:
# Q28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [26]:
# Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [27]:
# Q30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'cherry', 'apple', 'banana'}